root = true // .editorconfig is in the root derictory

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
trim_trailing_whitespace = true // trim whitespaces in the end of the words
insert_final_newline = true // add newline in the end of the file when save
charset = utf-8
